<p id="notice"><%= notice %></p>

<h1>Listing users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add new User', new_user_path %>
